* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #cdd6f4;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 2px solid #cdd6f4;
}

#workspaces button.active {
    background-color: rgba(137, 180, 250, 0.2);
    border-bottom: 2px solid #89b4fa;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#window {
    padding: 0 10px;
    margin: 0 4px;
    background-color: rgba(69, 71, 90, 0.5);
    border-radius: 10px;
}

#window {
    background-color: transparent;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f9e2af;
        color: #1e1e2e;
    }
}

#pulseaudio.muted {
    color: #f38ba8;
}
